* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100vh;
	width: 100vw;
	font-family: 'Roboto', sans-serif;
}
.app {
	color: #70757a;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-right: 1rem;
}
.app section {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	padding-right: 51.5px;
}
.app header {
	width: 100%;
	margin-top: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
nav {
	display: flex;
}
.dark-button {
	flex-grow: 1;
	background-color: #f3f3f3;
	border-radius: 50%;
	padding: 1rem;
	border: none;
	transition: background-color 0.3s ease-in-out;
}
.dark-button:hover {
	background-color: hsl(0, 0%, 93%);
}
.app :is(h1) {
	width: 100%;
	text-align: center;
}
.timer {
	cursor: pointer;
	margin-top: 1rem;
	color: rgb(80, 80, 80);
}
.timer-form {
	width: 80%;
	flex-wrap: wrap;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
	margin-bottom: 0.5rem;
}

.timer-form fieldset {
	border: none;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	gap: 6px;
}
.timer-form label {
	font-size: 0.85rem;
}
.timer-form input[type='text'] {
	width: 2.7rem;
	border-radius: 8px;
	padding: 8px 12px;
	outline: none;
	border: 1px solid rgb(212, 212, 212);
}
.timer-form input[type='text']:focus {
	border: 1px solid #1a73e8;
}
.timer-form input[type='text']:focus + label {
	color: #1a73e8;
}
.timer-form .group-button {
	flex-grow: 1;
}
.timer-form :is(input[type='submit'], input[type='reset']) {
	cursor: pointer;
}
.group-button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
button {
	cursor: pointer;
}

.primary-button {
	background-color: #1a73e8;
	color: white;
	border: none;
	padding: 0.5rem;
	border-radius: 8px;
}

.primary-button,
.secondary-button {
	transition: background-color 0.3s ease-in-out;
	min-width: 6rem;
}

.primary-button:hover {
	background-color: #1f7af1;
}

.secondary-button {
	padding: 0.5rem;
	border-radius: 8px;
	background-color: white;
	border: none;
	color: #70757a;
}
.secondary-button:hover {
	background-color: #f3f3f3;
}
.disabled-button {
	background-color: gray;
	cursor: default;
}
body.dark-theme {
	background-color: rgb(32, 32, 32);
}
.dark-button.dark-theme {
	background-color: rgb(40, 40, 40);
}
.dark-button.dark-theme:hover {
	background-color: rgb(44, 44, 44);
}
.primary-button.dark-theme {
	background-color: hsl(214, 82%, 32%);
}
.primary-button.dark-theme:hover {
	background-color: hsl(214, 82%, 40%);
}

.secondary-button.dark-theme {
	background-color: transparent;
}
.secondary-button.dark-theme:hover {
	background-color: rgb(40, 40, 40);
}
h1.dark-theme {
	color: rgb(170, 170, 170);
}
.timer.dark-theme {
	color: rgb(190, 190, 190);
}
.timer-form.dark-theme input {
	background-color: rgb(44, 44, 44);
	color: rgb(190, 190, 190);
	border: 1px solid transparent;
}
.timer-form input[type='text'].dark-theme:focus {
	border: 1px solid hsl(214, 82%, 32%);
}
.timer-form input[type='text']:focus.dark-theme + label {
	color: hsl(214, 82%, 32%);
}
.hidden {
	display: none;
}
